.app-header {
    display: flex;
    align-items: center;
    height: 80px;

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;

        img {
            object-fit: contain;
        }

        .logo-name {
            margin-bottom: 0;
        }
    }

    background-color: $clr2;
    padding: 1rem;
}