.landing-preview {
    margin-bottom: 1rem;
    background-color: lighten($clr1, 15%);
    border-radius: 8px;
    height: 200px;
    gap: 10px;

    .landing-img-container {
        height: 50%;
        border-radius: 100%;
    }

    .landing-name {
        margin-bottom: 0;
    }
}